<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style th:replace="style"/>
</head>
<body>

<h1 id="title">Little Help Book</h1>

<p id="subtitle">
    Lane County, Oregon
</p>
<p id="production">
    Produced <span th:text="${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"/>
</p>

<h1>Emergency Crisis Lines</h1>

<div th:replace="crisis" />

<h1>How To Use This Book</h1>

<h2>Are you in Crisis?</h2>
<p>
    A crisis is defined personally by each individual who reaches out
    to White Bird Clinic. It can be a difficult or dangerous time, but it is
    also an opportunity for change. Anxiety, depression, grief,
    trauma, identity issues, abuse, interpersonal conflict, and other
    external or internal factors can contribute to a time of crisis. If you
    find your ability to access your own resources is compromised by
    a crisis event, please reach out to us on our 24/7 crisis line at
    541-687-4000 or 1-800-422-7558 or turn to page 2 for a complete
    listing of emergency crisis lines.
</p>

<h2>Are you looking for help in an area of need?</h2>
<p>
    Check the general categories and find the one your need best fits (like
    “Health” or “Housing”). Then see if you can find your need under
    that category. Many organizations provide services in multiple categories.
</p>

<h2>Are you looking for a service you know the name of?</h2>
<p>Go to the index of service providers to find the
    providers listed alphabetically.</p>

<h2>Are you LGBTQIA, or a Vet or Youth or Latinx or getting out
    of prison or a Senior or Jewish?</h2>
<p>We have special sections, just for you, in the Culturally Specific category!</p>

<h2>STILL can’t find what you’re looking for?</h2>
<ul>
    <li>If you are looking for something like clothing or a bathroom,
        check the “Basic Needs” section in the Table of Contents.
    </li>
    <li>Some services listed on the bottom of one page have
        information continuing on the next page.
    </li>
    <li>Ask a friend or service provider to help you use the book to
        find the info you need.
    </li>
</ul>
<p>
    There are some services not found in this book. Sorry. If you
    think we are missing a service, please let us know at the email:
    <u>littlehelpbookfrommyfriends@whitebirdclinic.org</u> If you want to
    leave a note about our clever email address, we’d appreciate
    that.</p>

<h2>Legend</h2>

<table>
    <tr>
        <td class="resourceIcon">
            &#127760;
        </td>
        <td>
            Other languages than English spoken
        </td>
    </tr>
    <tr>
        <td class="resourceIcon">
            &#9855;
        </td>
        <td>
            ADA accessible
        </td>
    </tr>
</table>

<h2>Credits</h2>

<h1>Index</h1>

<ul class="index-outer">
    <li th:each="category : ${repository.categories_en}" class="bodymatter" th:if="${category.hasResources()}">
        <a th:href="'#' + ${category.id}" th:text="${category.name_en}" />
        <ul class="index-inner">
            <li th:each="subcategory : ${category.subcategories_en}" class="bodymatter" th:if="${subcategory.hasResources()}">
                <a th:href="'#' + ${subcategory.id}" th:text="${subcategory.name_en}" />
            </li>
        </ul>
    </li>
</ul>

<p class="covid_alert">Many of these agencies have been impacted by COVID. Please call ahead or check the website before visiting.</p>

<th:block th:each="category : ${repository.categories_en}" th:if="${category.hasResources()}">
    <h1 th:text="${category.name_en}" th:id="${category.id}"></h1>

    <th:block class="resource" th:each="resource : ${category.resources_en}">
        <h3>
            <span th:text="${resource.name_en}" class="resource_name"/>
            <span th:if="${resource.languageHelp}" class="resourceIcon">&#127760;</span>
            <span th:if="${resource.wheelchair}" class="resourceIcon">&#9855;</span>
        </h3>
        <p class="resource_contact">
            <span th:text="${resource.address}" class="resource_address"></span>
            \t\
            <span th:text="${resource.phone}" class="resource_phone"></span>
        </p>
        <p th:text="${resource.description_en}" class="resource_description"></p>
        <p th:text="${resource.hours_en}" class="resource_hours"></p>
        <p th:text="${resource.url}" class="resource_url"></p>
    </th:block>

    <th:block th:each="subcategory : ${category.subcategories_en}" th:if="${subcategory.hasResources()}">
        <h2 th:text="${subcategory.name_en}" th:id="${subcategory.id}"></h2>

        <th:block class="resource" th:each="resource : ${subcategory.resources_en}">
            <h3>
                <span th:text="${resource.name_en}" class="resource_name"/>
                <span th:if="${resource.languageHelp}" class="resourceIcon">&#127760;</span>
                <span th:if="${resource.wheelchair}" class="resourceIcon">&#9855;</span>
            </h3>
            <p class="resource_contact">
                <span th:text="${resource.address}" class="resource_address"></span>
                \t\
                <span th:text="${resource.phone}" class="resource_phone"></span>
                <br/>
                <span th:text="${resource.description_en}" class="resource_description"></span>
                <br/>
                <span th:text="${resource.hours_en}" class="resource_hours"></span>
                <br/>
                <span th:text="${resource.url}" class="resource_url"></span>
            </p>
        </th:block>
    </th:block>
</th:block>
</body>
</html>