<style>
    body {
        font-family: Ubuntu, "times new roman", times, roman, serif;
    }

    #logo {
        width: 3in;
        text-align: center;
        align-self: center;
        alignment: center;
        padding-top: 0.5in;
        padding-bottom: 0.5in;
    }

    #title {
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        padding-top: 0.5in;
        padding-bottom: 0.5in;
    }
    #subtitle {
        text-align: center;
        font-weight: bold;
        font-size: larger;
        padding-top: 0.5in;
    }
    #production {
        text-align: center;
    }

    .resource {
        page-break-inside: avoid;
    }

    .resource_icon {
        width: 12px;
        height: 12px;
    }

    .resource_contact {
        clear: both;
        margin: 0;
        padding: 0;
    }

    .resource_address {
        float: left;
        margin: 0;
        padding: 0;
    }

    .resource_phone {
        float: right;
        margin: 0;
        padding: 0;
    }

    .resource_description {
        clear: both;
        margin: 0;
        padding: 0;
    }

    .resource_hours {
        clear: both;
        margin: 0;
        padding: 0;
    }
    .resource_url {
        clear: both;
        margin: 0;
        padding: 0;
    }



    .crisis_name {
        float: left;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    .crisis_phone {
        float: right;
        margin: 0;
        padding: 0;
    }

    .crisis_contact {
        clear: both;
    }

    .crisis_description {
        clear: both;
    }

    h1 {
        text-align: center;
        page-break-before: always;
        page-break-after: avoid;
    }

    h2 {
        text-align: left;
        border-bottom: solid black 1pt;
        page-break-after: avoid;
    }

    h3 {
        margin-bottom: 0;
        padding-bottom: 0;
        page-break-after: avoid;
    }

    @page {
        margin: 0.5in;
        width: 5.5in;
        height: 8.5in;
        size: 5.5in 8.5in;
    }
</style>